---
import RootLayout from '~/layouts/RootLayout.astro';
import ArticleItem from '~/components/ArticleItem.astro';
import CategoriesList from '~/components/CategoriesList.astro';
import logo from '~/assets/logo.png';
import { getBlogCollection, type ExtendedBlogEntry } from '~/utils/content';

export async function getStaticPaths() {
  const postsByCategoryLocale = new Map();

  const posts = (
    await getBlogCollection(Astro.currentLocale, ({ data }) => {
      return import.meta.env.PROD ? data.draft !== true : true;
    })
  ).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

  for (const post of posts) {
    const { category, locale } = post;

    if (!postsByCategoryLocale.get(category + '_' + locale)) {
      postsByCategoryLocale.set(category + '_' + locale, []);
    }

    postsByCategoryLocale.set(category + '_' + locale, [
      ...postsByCategoryLocale.get(category + '_' + locale),
      post,
    ]);
  }

  return Array.from(postsByCategoryLocale.entries()).map(
    ([categoryAndLocale, posts]) => {
      const [category, locale] = categoryAndLocale.split('_');

      return {
        params: { category, locale },
        props: {
          posts,
        },
      };
    }
  );
}

type Props = { posts: ExtendedBlogEntry[] };

const { posts } = Astro.props;

const { category, locale } = Astro.params;
---

<RootLayout
  title={`Blog | ${category} | Javier Muñoz Tous`}
  shortDescription={`Find information and tutorials about ${category} in Coding Kittens.`}
  image={logo.src}
  locale={locale}
>
  <CategoriesList />
  <div class='mx-auto my-0 flex max-w-7xl flex-wrap justify-between pb-0'>
    <main class='flex-1 pb-14 lg:flex-[0_0_770px]'>
      <div class='divide-y divide-gray-200 dark:divide-gray-700'>
        {
          posts.map(async (post) => {
            const { remarkPluginFrontmatter } = await post.render();
            return (
              <ArticleItem
                slug={post.slug}
                category={post.category}
                readingTime={remarkPluginFrontmatter.readingTime}
                {...post.data}
              />
            );
          })
        }
      </div>
    </main>
  </div>
</RootLayout>
