---
import RootLayout from '~/layouts/RootLayout.astro';
import ArticleItem from '~/components/ArticleItem.astro';
import CategoriesList from '~/components/CategoriesList.astro';
import logo from '~/assets/logo.png';
import languages from '~/i18n/languages';
import { getBlogCollection } from '~/utils/content';

const posts = (
  await getBlogCollection(Astro.currentLocale, ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

export const getStaticPaths = () =>
  Object.keys(languages).map((locale) => ({ params: { locale } }));

const { locale } = Astro.params;
---

<RootLayout
  title={'Blog | Javier Muñoz Tous'}
  shortDescription={'Explore a diverse range of topics, including technology, development, and personal insights on my blog.'}
  image={logo.src}
  locale={locale}
>
  <CategoriesList />
  <div class='mx-auto my-0 flex max-w-7xl flex-wrap justify-between pb-0'>
    <main class='flex-1 pb-14 lg:flex-[0_0_770px]'>
      <div class='divide-y divide-gray-200 dark:divide-gray-700'>
        {
          posts.map(async (post) => {
            const { remarkPluginFrontmatter } = await post.render();
            return (
              <ArticleItem
                slug={post.slug}
                category={post.category}
                readingTime={remarkPluginFrontmatter.readingTime}
                {...post.data}
              />
            );
          })
        }
      </div>
    </main>
  </div>
</RootLayout>
